<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Мой блог</title>
</head>
<body>
  <header>
    <h1>Мой блог</h1>
    <nav>
      <a href="/">Домой</a>
      <a href="/newpost">Добавить новый пост</a>
    </nav>
  </header>
  <main>
    <%- include(content) -%>
  </main>
  <footer>&copy; 2023 Мой блог</footer>
</body>
</html>
