<h2>Добавить новый пост</h2>
<form action="/addpost" method="post">
  <label for="title">Заголовок:</label>
  <input type="text" id="title" name="title" required><br>
  <label for="content">Содержание:</label>
  <textarea id="content" name="content" required></textarea><br>
  <button type="submit">Принять</button>
</form>
